/* Settings */
@import "./settings/_typography.css";
@import "./settings/_layout.css";
@import "./settings/_colors.css";
@import "./settings/_fonts.css";

/* Global */
@import "./global/_box-sizing.css";
@import "./global/_normalize.css";

/* Theme */
@import "./theme/_headings.css";
@import "./theme/_body.css";

/* Layouts */

/* Container */
@import "./container/_container_search.css";

/* Components */
@import "./components/_map.css";
@import "./components/_panel.css";
@import "./components/_results.css";
@import "./components/_search.css"; /* utils */
@import "./utils/_center.css";

.search-ip__btn {
  background-color: black;
  color: antiquewhite;
  cursor: pointer;
}

.numIP {
  color: black;
}
